<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreTweet" version="0.7.2.352" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net462" />
  <package id="HtmlAgilityPack.NetCore" version="1.5.0.1" targetFramework="net462" />
  <package id="Microsoft.ServiceFabric" version="5.5.216" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="2.5.216" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="2.5.216" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.2.1" targetFramework="net462" />
  <package id="System.IO" version="4.3.0" targetFramework="net462" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net462" />
</packages>